<style>
    body {
        background-color: #DAF9FF;
    }

    h1 {
        color: #03181C;
        text-align: center;
    }

    p {
        color: red;
    }
</style>

<h1><strong>Diabetes Management System</strong></h1>
<br />

