<style>
    .top-heading{
        text-align: center;
    }

    .pagebreak-spacing{
        padding-top: 30px;
    }

    .tile-group-heading {
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase;
        opacity: 0.65;
        padding-bottom: 10px;
    }

    .tile {
        width: 130px;
        height: 130px;
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 12px;
        padding: 12px 4px 12px 10px;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
    .tile-green-1 {
        background-color: #1fa13a;
        border: 4px solid transparent;
    }
    .tile .caption {
        color: #ffffff;
        line-height: 100%;
        padding-top: 10px;
        font-size: 11.5px;
        display: inline-flex;
        height: 35px;
        transition: all 0.3s linear;
    }

</style>


<!--Body content-->>
<h1 class="top-heading">Diabetes Management System</h1>

<br />

<!-- Grid View icons -->

<div class="col-md-9 pagebreak-spacing pull-left">
    <div class="tile-group-heading">Add Meal preference</div>
    <a class="tile tile-green-1" href="/Meal/AddMeal"></a>
    <div class="caption">
        "Add Meal"
        <br />
        "(Meal details)"
    </div>

</div>